.list {
  padding: 0;
  margin: 0;
  list-style: none;
  background: var(--surface-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  h4 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: var(--fs-3);
  }
}

.listitem > button,
.listitem > div {
  appearance: none;
  text-decoration: none;
  text-align: left;
  cursor: default;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: stretch;
  border-radius: var(--br-2);
  background: var(--surface);
  padding: var(--space-5);
  line-height: 1;

  &:hover {
    background: var(--surface-4);
  }
}

.linkContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  font-size: var(--fs-2);
  align-items: start;
  flex: 1;
}

.icon {
  margin-inline-end: var(--space-4);
}
