::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--spacing-5);
  border: 5px solid var(--colors-surface-3);
  background-color: var(--colors-surface-10);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
