:root {
  /** mauveDark */
  --colors-surface-1: hsl(246, 6%, 9%);
  --colors-surface-2: hsl(240, 5.1%, 11.6%);
  --colors-surface-3: hsl(241, 5%, 14.3%);
  --colors-surface-4: hsl(242, 4.9%, 16.5%);
  --colors-surface-5: hsl(243, 4.9%, 18.8%);
  --colors-surface-6: hsl(244, 4.9%, 21.5%);
  --colors-surface-7: hsl(245, 4.9%, 25.4%);
  --colors-surface-8: hsl(247, 4.8%, 32.5%);
  --colors-surface-9: hsl(252, 4%, 45.2%);
  --colors-surface-10: hsl(247, 3.4%, 50.7%);
  --colors-surface-11: hsl(253, 4%, 63.7%);
  --colors-surface-12: hsl(256, 6%, 93.2%);

  /** mauve */
  --colors-text-1: hsl(300, 20%, 99%);
  --colors-text-2: hsl(300, 7.7%, 97.5%);
  --colors-text-3: hsl(294, 5.5%, 95.3%);
  --colors-text-4: hsl(289, 4.7%, 93.3%);
  --colors-text-5: hsl(283, 4.4%, 91.3%);
  --colors-text-6: hsl(278, 4.1%, 89.1%);
  --colors-text-7: hsl(271, 3.9%, 86.3%);
  --colors-text-8: hsl(255, 3.7%, 78.8%);
  --colors-text-9: hsl(252, 4%, 57.3%);
  --colors-text-10: hsl(253, 3.5%, 53.5%);
  --colors-text-11: hsl(252, 4%, 44.8%);
  --colors-text-12: hsl(260, 25%, 11%);

  /** crimsonDark */
  --colors-accent-1: hsl(335, 20%, 9.6%);
  --colors-accent-2: hsl(335, 32.2%, 11.6%);
  --colors-accent-3: hsl(335, 42.5%, 16.5%);
  --colors-accent-4: hsl(335, 47.2%, 19.3%);
  --colors-accent-5: hsl(335, 50.9%, 21.8%);
  --colors-accent-6: hsl(335, 55.7%, 25.3%);
  --colors-accent-7: hsl(336, 62.9%, 30.8%);
  --colors-accent-8: hsl(336, 74.9%, 39%);
  --colors-accent-9: hsl(336, 80%, 57.8%);
  --colors-accent-10: hsl(339, 84.1%, 62.6%);
  --colors-accent-11: hsl(341, 90%, 67.3%);
  --colors-accent-12: hsl(332, 87%, 96%);
}
