:root {
  --input-font-size: 0.875rem;

  --border-radius-1: 3px;
  --border-radius-2: 5px;
  --border-radius-3: 10px;

  --spacing-1: 2.848px;
  --spacing-2: 3.797px;
  --spacing-3: 5.063px;
  --spacing-4: 6.75px;
  --spacing-5: 9px;
  --spacing-6: 12px;
  --spacing-7: 16px;
  --spacing-8: 21.333px;
  --spacing-9: 28.444px;
  --spacing-10: 37.926px;
  --spacing-11: 50.568px;
  --spacing-12: 67.424px;
  --spacing-13: 89.898px;
  --spacing-14: 119.865px;

  --colors-white-a1: hsla(0, 0%, 100%, 0);
  --colors-white-a2: hsla(0, 0%, 100%, 0.013);
  --colors-white-a3: hsla(0, 0%, 100%, 0.034);
  --colors-white-a4: hsla(0, 0%, 100%, 0.056);
  --colors-white-a5: hsla(0, 0%, 100%, 0.086);
  --colors-white-a6: hsla(0, 0%, 100%, 0.124);
  --colors-white-a7: hsla(0, 0%, 100%, 0.176);
  --colors-white-a8: hsla(0, 0%, 100%, 0.249);
  --colors-white-a9: hsla(0, 0%, 100%, 0.386);
  --colors-white-a10: hsla(0, 0%, 100%, 0.446);
  --colors-white-a11: hsla(0, 0%, 100%, 0.592);
  --colors-white-a12: hsla(0, 0%, 100%, 0.923);

  --colors-black-a1: hsla(0, 0%, 0%, 0.012);
  --colors-black-a2: hsla(0, 0%, 0%, 0.027);
  --colors-black-a3: hsla(0, 0%, 0%, 0.047);
  --colors-black-a4: hsla(0, 0%, 0%, 0.071);
  --colors-black-a5: hsla(0, 0%, 0%, 0.09);
  --colors-black-a6: hsla(0, 0%, 0%, 0.114);
  --colors-black-a7: hsla(0, 0%, 0%, 0.141);
  --colors-black-a8: hsla(0, 0%, 0%, 0.22);
  --colors-black-a9: hsla(0, 0%, 0%, 0.439);
  --colors-black-a10: hsla(0, 0%, 0%, 0.478);
  --colors-black-a11: hsla(0, 0%, 0%, 0.565);
  --colors-black-a12: hsla(0, 0%, 0%, 0.91);
}
