.well {
  app-region: drag;
  width: stretch;
  margin: 0 auto;
  padding: var(--space-5);
  background: var(--surface);
  border-radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
