.trigger {
  height: stretch;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding-inline-start: var(--space-4);
  padding-inline-end: var(--space-3);
  border-radius: var(--br-2);
}

.content {
  background: canvas;
}
