:root {
  --surface: oklch(100% 0 0 / 0.05);
  --out: calc(95% - 0.9 * var(--in));

  --surface-2: oklch(from var(--surface) l c h / 0.04);
  --surface-3: oklch(from var(--surface) l c h / 0.07);
  --surface-4: oklch(from var(--surface) l c h / 0.1);
  --surface-5: oklch(from var(--surface) l c h / 0.18);
  --surface-x: oklch(from var(--surface) 5% 0.04 h / 0.6);

  --accent: oklch(70% 0.3 18);
  --ink: oklch(85% 0 0);
  --ink-full: oklch(100% 0 0);
  --ink-muted: oklch(85% 0 0 / 0.5);
}

body {
  color: var(--ink);
  /* background: var(--surface); */
  /* background: linear-gradient(0deg, transparent 80%, oklch(0.19 0.02 354) 100%); */
}
