/* Customize the entire scrollbar */
::-webkit-scrollbar {
  /* width: 8px; */
}

/* Style the draggable handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Style the track (the area the thumb moves along) */
::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
  background-color: transparent;
}
