.container {
  background: var(--surface-x3);
  border-radius: var(--br-6);

  display: flex;
  align-items: center;
  gap: 3px;
  padding: 3px;

  button {
    background: transparent;
    display: flex;
    align-items: center;
    padding-inline: 12px;
    padding-block: 5px;

    svg {
      color: currentColor;
    }
  }
}
