.container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-inline: var(--space-6);
}

.titlebar {
  app-region: drag;
  display: flex;
  align-items: center;
  min-height: var(--space-9);
}

.content {
  padding: var(--space-5);
}
