.card {
  --radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius);

  &.selected {
    outline: 3px solid var(--accent);
    outline-offset: -3px;
    border-radius: var(--radius);
  }

  .thumbnail {
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: inherit;
  }

  .content {
    padding-inline: var(--space-3);
  }

  h4 {
    text-align: center;
    font-weight: 400;
    word-break: break-word;
    font-size: var(--fs-2);
  }
}
