button {
  app-region: no-drag;
  padding: 5px;
  border: none;
  border-radius: var(--br-5);
  background: var(--surface);
  color: var(--ink-full);
  font: inherit;
  font-weight: 400;
  /* outline: none; */

  &:hover {
    background: var(--surface-3);
  }

  &:active,
  &:focus {
    background: var(--surface);
  }

  &.active {
    background: var(--surface-4);
  }

  &:disabled {
    pointer-events: none;
  }
}

.primary {
  color: var(--accent);

  &:disabled {
    pointer-events: none;
    color: oklch(from var(--accent) 80% 0 h / 0.5);
  }
}
