.container {
  app-region: drag;
  position: sticky;
  top: 0;
  margin: calc(var(--space-4) * -1);
  padding: var(--space-3) var(--space-5) var(--space-2) var(--space-5);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    mask-image: linear-gradient(black, transparent);
    pointer-events: none;
    backdrop-filter: blur(12px) saturate(150%);
    z-index: -1;
  }
}

.title {
  flex: 2;
  align-self: center;
}
