.container {
  app-region: drag;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-1);
  background: var(--surface-x);

  nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    height: stretch;
  }

  ul {
    padding: 0;
    margin: 0;
    user-select: none;
    list-style: none;

    &:last-child {
      margin-top: auto;
    }
  }

  li {
    margin-block: var(--space-2);
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-3) var(--space-4);
    margin-inline: var(--space-2);
    app-region: no-drag;
    cursor: default;
    border-radius: var(--br-3);
    opacity: 0.7;

    transition-property: background, color, opacity;
    transition-duration: 150ms;
    transition-timing-function: ease;

    &:hover {
      background: var(--surface-3);
      opacity: 1;
      color: var(--ink-full);
    }

    &:active {
      background: var(--surface-2);
    }

    &.active {
      background: var(--surface-4);
      opacity: 1;
      color: var(--ink-full);

      span {
        /* display: none; */
      }

      svg {
        /* color: var(--accent); */
      }
    }
  }
  /* app-region: drag;
  border-radius: var(--br-3);
  corner-shape: var(--corner-shape);
  margin: var(--space-3);
  margin-right: 0;
  border: 1px solid rgb(255 255 255 / 0.15);
  background: var(--surface-x);
  height: -webkit-fill-available;

  svg {
    width: 24px;
    height: 24px;
    margin-right: var(--space-2);
  }

  nav {
    margin-top: 44px;

    ul {
      animation: fadeIn 300ms ease-out;
    }
  }

  ul {
    padding-block: 0;
    padding-inline: var(--space-4);
    margin: 0;
    user-select: none;
    app-region: no-drag;
  }

  li {
    list-style: none;
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    border-radius: var(--br-3);
    padding-inline: var(--space-3);
    padding-block: var(--space-2);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &.active {
      background-color: var(--surface);
      color: var(--accent);
    }
  }

  h5 {
    padding-inline: var(--space-5);
    padding-top: var(--space-4);
    padding-bottom: 2px;
    margin: 0;
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: 0.03rem;
  } */
}

@keyframes fadeIn {
  from {
    filter: blur(12px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
