:root {
  --focus-border: transparent;
  --separator-border: transparent;
}

.container {
  app-region: drag;
  border-radius: var(--br-3);
  corner-shape: var(--corner-shape);
  margin: var(--space-3);
  margin-right: 0;
  border: 1px solid rgb(255 255 255 / 0.15);
  /* background: oklch(0% 0 0 / 0.25); */
  background: var(--surface-x);
  height: -webkit-fill-available;

  svg {
    width: 24px;
    height: 24px;
    margin-right: var(--space-2);
  }

  nav {
    margin-top: 44px;

    ul {
      animation: fadeIn 300ms ease-out;
    }
  }

  ul {
    padding-block: 0;
    padding-inline: var(--space-4);
    margin: 0;
    user-select: none;
    app-region: no-drag;
  }

  li {
    list-style: none;
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    border-radius: var(--br-3);
    padding-inline: var(--space-3);
    padding-block: var(--space-2);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    &.active {
      background-color: var(--surface);
      color: var(--accent);
    }
  }

  h5 {
    padding-inline: var(--space-5);
    padding-top: var(--space-4);
    padding-bottom: 2px;
    margin: 0;
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: 0.03rem;
  }
}

@keyframes fadeIn {
  from {
    filter: blur(12px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
