.logo {
  display: flex;
  align-items: center;
  place-content: center;
  aspect-ratio: 1 / 1;
}

.container {
  app-region: drag;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-1);

  nav {
    display: flex;
    flex-direction: column;
    height: stretch;
  }

  ul {
    padding: 0;
    margin: 0;
    user-select: none;
    list-style: none;
    margin-bottom: var(--space-4);

    &:not(:last-child)::before {
      content: '';
      display: block;
      height: 1px;
      width: 50%;
      margin-inline: auto;
      margin-bottom: var(--space-4);
      margin-top: 0;
      background: var(--surface-5);
    }

    &:last-child {
      margin-top: auto;
    }
  }

  li {
    margin-block: var(--space-2);
  }

  a {
    --margin: calc(var(--space-2) + var(--space-1));
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-4);
    margin-inline-start: var(--margin);
    margin-inline-end: calc(var(--margin) - 1px);
    app-region: no-drag;
    cursor: default;
    border-radius: var(--br-3);
    /* opacity: 0.7; */

    transition-property: background, color, opacity;
    transition-duration: 150ms;
    transition-timing-function: ease;

    &:hover {
      background: var(--surface-3);
      opacity: 1;
      color: var(--ink-full);
    }

    &:active {
      background: var(--surface-2);
    }

    &.active {
      background: var(--surface-4);
      color: var(--ink-full);
    }
  }
}
