.container {
  --size: 8px;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 var(--size) rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 var(--size) rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: var(--size);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ink);
    border-radius: calc(var(--size) / 2);
  }
}
