.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: var(--br-6);

  &:hover {
    background: var(--surface-2);
  }

  &.selected {
    outline: 3px solid var(--accent);
    outline-offset: -3px;
    background: var(--surface-2);
  }

  .thumbnail {
    width: inherit;
    object-fit: cover;
    border-radius: var(--br-4);
  }

  .content {
    /* padding-inline: var(--space-8); */
  }

  h4 {
    text-align: center;
    font-weight: 400;
    word-break: break-word;
    font-size: var(--fs-2);
  }
}
